{% extends 'base2.html.twig' %}

{# Page permettant de géolocaliser lors de l'arrivée de l'utilisateur sur le site #}

{% block title %}Accueil
{% endblock %}

{% block body %}
	{{ encore_entry_link_tags('css/load') }}
	<div class="lds-spinner">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>

	{% block javascript %}
		<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
		{{ encore_entry_script_tags('js/home') }}
	{% endblock %}
{% endblock %}
