{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div id='load'></div>


	{% block javascript %}
		<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
		{{ encore_entry_script_tags('js/home') }}
	{% endblock %}
{% endblock %}
