{% extends 'base.html.twig' %}

{# affiche la carte géolocalisant l'utilisateur et plaçant également les événements du jour en rapport avec la ville  #}

{% block title %}Carte
{% endblock %}


{% block body %}

	{{ encore_entry_link_tags('css/div') }}

	<div id="result"></div>
	<div id="map"></div>

	{% block javascript %}

		<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
		<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		{{ encore_entry_script_tags('js/map') }}

	{% endblock %}


{% endblock %}
