@font-face{
    font-family:"Roman";
    src : url("/public/font/Roman_SD.ttf");
}

.profil-input{
    margin-bottom : 5%;
    font-family: "Roman";
    font-size: 20px;
    height: 30px;
}

.profil-upload{
    font-family: "Roman";
    font-size: 20px;
    margin-left: 10%;
    margin-bottom: 5%;
}

.registry-input{
    margin-bottom : 5%;
    font-family: "Roman";
    font-size: 20px;
    height: 30px;
}

.login-input{
    margin-bottom : 5%;
    font-family: "Roman";
    font-size: 20px;
    height: 30px;
}