.profil{
    display: block;
    max-width: 600px;
    margin: 80px auto;
    border-style:dashed;
    border-radius: 20px;
    padding: 30px 30px;
}

.input-profil{
    margin-bottom : 10%;
    color : white;
}

.div{
    border-style: solid;
}

body{
    background-color: white;
}
