.homeDisplay-link{
    color : white;
}

.homeDisplay-link:hover{
    color : white;
}

.categoryDisplay-link{
    color : white;
}

.categoryDisplay-link:hover{
    color : white;
}

.a-profil:link{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5%;
    width:300px;
    font-size: 20px;
    font-family: "Roman";
    color:black;
}
