.homeDisplay-titleh3{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: black;
}

.homeDisplay-titleh4{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}

.categoryDisplay-titleh3{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: black;
}

.categoryDisplay-titleh4{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
