.css-homeTitleh3, .css-categoryTitleh3, .css-favoritesTitleh3{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    background-color: black;
}

.css-homeTitleh4, .css-categoryTitleh4, .css-favoritesTitleh4{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}
